<!-- Header Tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> {{page.title}} | Podcast Festival 2022 mini</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="/assets/css/bootstrap/default/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap/default/bootstrap.min.css.map">
<script src="/assets/css/bootstrap/default/bootstrap.bundle.min.js"></script>
<script src="/assets/css/bootstrap/default/bootstrap.bundle.min.js.map"></script>
<!-- Unique StyleSheet -->
<link rel="stylesheet" href="/assets/css/style/custom.css">