<!DOCTYPE html>
<html lang="ja" class="h-100">

<head>
    {% include header_tags.html %}
</head>

<body>
    {% include navigation.html %}
    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">参加者リスト</h1>
                    <p class="lead text-muted">ポットキャストリレー配信に参加してくださったみなさんのリストです。</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">まとめて Apple Music で聞く</a>
                        <a href="#" class="btn btn-primary my-2">まとめて Spotify で聞く</a>
                        <a href="#" class="btn btn-primary my-2">まとめて Google Podcast で聞く</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for prg in site.posts %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/user/artworks/{{ prg.t_artwork }}" width="100%">
                            <!--
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                    fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                            -->
                            <div class="card-body">
                                <h3>{{ prg.title }}</h3>
                                <p class="card-text">{{ prg.t_description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ prg.url }}">
                                            <button type="button" class="btn btn-outline-primary">聞く</button>
                                        </a>
                                    </div>
                                    <small class="text-muted">{{ prg.t_date }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">(C)2022 O.P.E.N, Sasakulab</p>
        </div>
    </footer>
</body>

</html>